*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    
}

.container{
    margin-top:3%;
    width: 65%;
    height: 600px;
    margin-left: 15%;
    display: flex;
    border: 1px solid rgb(54, 54, 54);
    border-radius:5px;
    margin-bottom:4%;
}
.container .dates{
    width: 25%;
    background-color:rgb(3, 46, 138);
}
.container .body{
    width: 60%;
    padding:1em;
}
h2{
    font-weight:600;

}
.body>p{
    margin: top 0.5em;
    font-weight:450;
    font-size: 1em;
}
.addresses i{
    font-size: 1em;
    color:rgb(255, 255, 255);
    background-color:rgb(3, 46, 138) ;
    border-radius:50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-right: 0.5em;
}
.addresses{
    width: 100%;
    margin-top:1em;
    display: flex;
    flex-direction: column;
}
.addresses>div{
    width:95%;
    font-size: 13px;
    display: flex;
    margin-top:1em;
}
.d1 div{
    width: 50%;
}
.d2 div{
    width: 50%;
}

.intro{
    margin-top:1.5em;
    /* background-color:antiquewhite; */
    width:125%;
    font-size: 13px;
}