*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    
}

.container{
    margin-top:3%;
    width: 65%;
    margin-left: 17%;
    display: flex;
    border: 1px solid rgb(156, 156, 156);
    border-radius:5px;
    margin-bottom:4%;
}
.container .dates{
    width: 25%;
    background-color:rgb(3, 46, 138);
}
.container .body{
    width: 60%;
    padding:1em;
}
.body>h2{
    font-weight:600;
    margin-left: 5%;
    margin-top:5%;
    color: rgb(3, 46, 138) ;

}
.body>p{
    margin-left: 5%;
    margin: top 0.5em;
    color: rgb(3, 46, 138) ;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}
.addresses i{
    font-size: 1em;
    color:rgb(255, 255, 255);
    background-color:rgb(3, 46, 138) ;
    border-radius:50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-right: 0.5em;
}
.addresses{
    margin-left: 5%;
    width: 100%;
    margin-top:1em;
    display: flex;
    flex-direction: column;
}
.addresses>div{
    width:95%;
    font-size: 13px;
    display: flex;
    margin-top:1em;
}
.d1 div{
    width: 50%;
}
.d2 div{
    width: 50%;
}

.intro{
    margin-left: 5%;
    margin-top:2em;
    margin-bottom:2em;
    width:115%;
    font-size: 13px;
}
.experience{
    margin-left: 5%;
    margin-top:1.5em;
    display:flex;
    flex-direction:row;
}
.experience i {
    font-size: 1.06em;
    color:rgb(255, 255, 255);
    background-color:rgb(3, 46, 138) ;
    border-radius:50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

}
.experience .div{
    width:8%;
}

.ex1{
    margin-left: 1em;
}
.ex1 h2{
    font-size: 1em;
    font-weight: 700;
    color: rgb(3, 46, 138) ;
}
.ex1 h3{
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-top:1em;
}

.ex1 .project{
    font-style: italic;
    font-size:12px;
}
.ex1 div{
    margin-left: 1em;
    margin-top: 0.5em;
}
.ex1 li{
    font-size: 13px;
}
.lang{
    font-size: 1em;
    font-weight: 700;
    color: rgb(3, 46, 138);
    display:block;
    margin-left:1em;
}
.ex2{
    width: 60%;
    display: flex;   
    margin-left: 13%;
    margin-top: 0.5em;
}
.ex2 div{
    width: 50%;
    margin-left: 10%;
}
.ex2 div li{
    font-size:13px;
}
.line{
    width: 0.1em;
    position: absolute;
    background: rgb(3, 46, 138) ;
    height: 293px;
    margin-left: 2.5em;
    margin-top: 1.3em;
}
.line1{
    width: 0.1em;
    position: absolute;
    background: rgb(3, 46, 138) ;
    height: 177px;
    margin-left: 2.5em;
    margin-top: 21em;
}
.line2{
    width: 0.1em;
    position: absolute;
    background: rgb(3, 46, 138);
    height: 170px;
    margin-left: 2.5em;
    margin-top: 33em;
}
.line3{
    width: 0.1em;
    position: absolute;
    background:  rgb(3, 46, 138);
    height: 50px;
    margin-left: 2.5em;
    margin-top: 45em;
}
.line4{
    width: 10px;
    position: absolute;
    background: rgb(3, 46, 138) ;
    height: 10px;
    margin-left: 2.25em;
    margin-top: 2.8em;
    border-radius: 50%;
}
.line5{
    width: 10px;
    position: absolute;
    background: rgb(3, 46, 138) ;
    height: 10px;
    margin-left: 2.25em;
    margin-top: 12em;
    border-radius: 50%;
}
.line6{
    width: 10px;
    position: absolute;
    background: rgb(3, 46, 138) ;
    height: 10px;
    margin-left: 2.25em;
    margin-top: 22.7em;
    border-radius: 50%;
}

.date{
    margin-left: 40%;
    margin-top: 31.3em;
    color: rgb(255, 255, 255) ;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
.date1{
    margin-left: 40%;
    margin-top: 10.5em;
    color: rgb(255, 255, 255) ;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
.date2{
    margin-left: 40%;
    margin-top: 12.7em;
    color: rgb(255, 255, 255) ;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}